//- PX to REM
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

//- Container
@mixin container($containerWidth: null) {
  width: $containerWidth + px;
  padding: 0 10px;
  margin: 0 auto;
  @extend %box-sizing
}

%box-sizing {
  box-sizing: border-box;
}