mixin header(data)
    +b.HEADER.header
        +svg('logo', 'animated zoomIn')
        +e.H1.title.animated.zoomIn(data-attr= data.attr)
            +icon('logo')
            | #{data.text}
            +icon('logo')